body{
    padding: 0;
    margin: 0;
}

#main_container{
    display: flex;
    justify-content: center;
}

#subcontainer{
    display: flex;
    width: 80vw;
    flex-wrap: nowrap;
    align-items: center;
}

#inner_landing{
    display: flex;
    justify-content: space-between;
}

/* Left hand side of the landing page */

#logo{
    position: relative;
    left:100px;
    top:20px;
    width: 100px;
    height: 70px;
}

.menu_img{
    padding: 3px;
    width: 30px;
    height: 30px;
}

#menu_contianer{
    padding-top: 3px;
    position: relative;
    top: 20px;
    right: 40px;
    border-radius: 10px;
    width: 90px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    background-color: #D9D9D9;

}

#headings_container{
    position: relative;
    bottom: -190px;
    display: flex;
    justify-content: center;
}

#headings_container > div {
    width: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#landing_heading{
    color: white;
    font-size: 2.4em;
}

#landing_subheading{
    background-color: #D9D9D9;
    border-radius: 10px;
    padding:5px;
    width: 150px;
    font-size: 1.4em;
    
}

#landing_right{
    background-image: url("static/homepage_banner2.jpeg");
    border-top-left-radius: 409px;
    border-bottom-left-radius: 409px;
    border-top-right-radius:0 ;
    border-bottom-right-radius: 0;
}

#landing_left, #landing_right{
    min-height:500px;
    min-width:40vw;
    margin: 8px;

}

/* Right hand side of the landing page */

#landing_left{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.choice_options > img {
    position:relative;
    top:-40px;
    width: 210px;
    height: 160px;
    border-radius: 300px;
}

.choice_options > p{
    text-transform: lowercase;
    font-size: 1.2em;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;

}

.choice_options{
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 80px;
    background-color: #D9D9D9;
    margin: 20px;
    border-radius: 45px;
}

#choice_place{
    text-transform: uppercase;
}

#first_location, #third_location{
    position: relative;
    left: 40px;
}

#second_location{
    margin-top: 50px;
    margin-bottom: 50px;
}

#location_container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#location_container button{
    border-radius: 10px;
    padding:4px !important;
    border: 0;
}

/* Hosting Section */
#become_host_section{
    background-image: url("static/homepage_croods3.jpeg");
    width: 100vw;
    height: 300px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    
}

#host_info{
    position: relative;
    bottom: -40px;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
}

#host_container{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    width: 280px;
    height: 160px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

#discover_experiences{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 860px;
}

.experiences{
    background-color: #D9D9D9;
    border-radius: 15px;
    width:280px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.experiences > p{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#experiences_heading{
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#checkout_experiences > section{
    display: flex;
    margin: 5px;
    margin-bottom: 20px;
    justify-content: center;
}

.experience_img{
    width:280px;
    border-radius: 15px;
    height: 300px;
    
}

#third_img_experience, #first_img_experience{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}
#sec_img_experience{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* Footer Code */
footer{
    text-align: center;
    background-color: rgb(61, 61, 61);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    color: #D9D9D9;
}

footer h2{
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#footer_container{
    display: flex;
    justify-content: space-around;
}

.footer_items p {
    background-color: #D9D9D9;
    border-radius: 10px;
    color: black;
    margin: 0;
    padding: 3px;
    width: fit-content;
}

.footer_items li {
    /* display: flex; */
    text-align: left;
    margin: 0;
    padding:0;
}

.footer_items{
    width: 220px;
}

/* Media Queries */
@media screen and (max-width: 1250px) {
    #landing_left{
        min-width: 400px;
    }
    #landing_right{
        min-width: 500px;
    }
    #subcontainer{
        justify-content: space-between;
        min-width: 100vw;
    }
    
}
@media screen and (max-width: 900px) {
    #landing_right, #landing_left{
        min-width: 500px;
    }
    .experiences{
        margin:5px;
    }
    #subcontainer{
        min-width: 80vw;
        display: block;
    }
    section{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #discover_experiences{
        width: fit-content;
        display: block;
    }
    
}

@media screen and (max-width: 750px) {
    #landing_left{
        min-width: 400px;
    }
    #landing_right{
        min-width: 500px;
    }
    #subcontainer{
        justify-content: space-between;
        min-width: 100vw;
    }
    #discover_experiences{
        width: fit-content;
    }

}